*.pyc
*.swp
*.tar.gz
*.zip
*.gz
*.aux.xml
*.x3d

todo.txt
notes.txt
generate_tests.py
mesh_sk.py
sync_to_vserver.sh
generate_tocomee.py
generate_sample_tandem.py

build/
.git/
dist/
results/
mat/
sandbox/
