*.pyc
*.swp
*.tar.gz
*.zip
*.gz
*.aux.xml
*.x3d

todo.txt
notes.txt
generate_tests.py
generate_tocomee.py
generate_sample_highres.py
mesh_sk.py
sync_to_vserver.sh
generate_tocomee.py
generate_sample_tandem.py
prepare_southdakota_srtm1arc_s2.sh
setup.cfg
setup.py
generate_sample_srtm1.py

build/
.git/
dist/
results/
mat/
sandbox/
scripts/
demodata_highres/
out_fin/
